/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */
.footer_section {
  margin-left: -400px;
  margin-bottom: -30px;
  margin-top: 5px;
  padding-right: 120px;
  background-color: #f2f2f2;
}
.footer-1 {
  padding-top: 100px;
  margin-bottom: -1300px;
  /* padding-right: 20%; */
}
.footer {
  width: 150%;
  height: 40vh;
  background-color: #f6f9fc;
  color: #31647c;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  position: absolute;
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  padding: 3rem;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #0c112a;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: red;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 220px;
  height: 40px;
  outline: none;
  border: solid 1px;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placholder {
  color: #b1b1b1;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #337af1;
  transition: all 0.4s ease-out;
}

/* @media screen and (max-width: 1150px) {
  .footer {
    height: 50vh;
  }
  .footer-email-form {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 820px) {
  .footer {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .footer-3 {
    display: none;
  }
  .footer-email-form {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 71px 0 0 0;
    width: 100%;
  }
} */

a {
  color: inherit;
}

.menu-item,
.menu-open-button {
  background: #31647c;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: -40px;
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

i {
  width: 25px;
  height: 3px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -9.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  margin: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}

.menu-item {
  transition: all 0.1s ease 0s;
}

.menu-item:hover {
  background: #eeeeee;
  color: #3290b1;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(20.09361px, -55.99997px, 0);
  transform: translate3d(20.09361px, -55.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(58.9466px, -8.77586px, 0);
  transform: translate3d(58.9466px, -8.77586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(36.5966px, 52.47586px, 0);
  transform: translate3d(36.5966px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(-23.08361px, 53.89997px, 0);
  transform: translate3d(-23.08361px, 53.89997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-60.86291px, 10.62064px, 0);
  transform: translate3d(-60.86291px, 10.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-42.03006px, -45.33095px, 0);
  transform: translate3d(-42.03006px, -45.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

.facebook {
  background: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  /* margin-left: -40px; */
}

.facebook:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.instagram {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.instagram:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.twitter {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.twitter:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}
.youtube {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.youtube:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.linkedin {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.linkedin:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  text-shadow: none;
}

.pinterest {
  background-color: #f2f2f2;
  color: #31647c;
  box-shadow: 0px -3px 5px 1px rgba(255, 255, 255, 0.7),
    0px 2px 4px rgba(15, 17, 31, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.pinterest:hover {
  background-color: #31647c#F2F2F2;
  color: #31647c;
  transform: scale(2);
  text-shadow: none;
}

.container-fluid-footer {
  background-color: #f2f2f2;
  max-width: 150%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1% 12% 0% 33%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #31647c;
  margin-right: 17%;
  padding-left: 8%;
  margin-left: 12%;
}
a:hover {
  /* color: red; */
  text-decoration: none;
}
.footer-a:hover {
  color: rgb(0, 102, 204);
}
.uls1 {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  font-size: 15px;
  line-height: 34px;
  /* margin-left: -14%; */
}
.uls1 li:before {
  /* content: "\2666"; */
  font-size: small;
}
.uls2 {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  font-size: 15px;
  line-height: 34px;
  /* margin-left: -14%; */
}
.uls2 li:before {
  /* content: "\2666"; */
  /* width: 50%; */
  /* color: #f6f9fc; */
  /* border: 2px solid #dbdbdb; */
  font-size: small;
}
.heading-foot {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
}
.uls3 {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  font-size: 15px;
  line-height: 34px;
  /* margin-left: -14%; */
  /* margin-left: 7%;
  margin-top: -10%; */
}
.gg-shape-rhombus {
  box-sizing: border-box;
  position: relative;
  margin-left: -50px;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
  margin-left: -57%;
  margin-top: -8.5%;
  border: 2px solid #dbdbdb;
}
/* .uls3 li:before {
  content: "\2666";
  font-size: small;
} */

#grad2 {
  height: 40px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0% 15% 0% 15%;
  background-image: linear-gradient(
    90deg,
    rgb(22, 170, 163),
    rgb(158, 158, 14)
  );
}
.logo-footer {
  margin: 3% 0% 24% 0%;
}
.foot-c {
  margin-bottom: 5%;
}

.cr-footer {
  padding: 21% 0% 0% 0%;
}
.cr-footer2 {
  padding: 2% 0% 0% 0%;
}
.bts-foot1,
.bts-foot2,
.bts-foot3 {
  font-size: small;
  text-align: center;
  /* border: 0px; */
  border: none;
  border-radius: 2px;
  background-color: #f6f9fc;
  /* display: inline-block; */
}
.bts-foot1:hover {
  font-size: 90%;
  padding: 10px 10px 0px 10px;

  /* background-color: rgb(231, 226, 226); */
}
.bts-foot2:hover {
  font-size: 90%;
  padding: 10px 10px 0px 10px;
  /* background-color: rgb(231, 226, 226); */
}
.bts-foot3:hover {
  font-size: 90%;
  padding: 10px 10px 0px 10px;
  /* background-color: rgb(231, 226, 226); */
}
#email-foot {
  width: 220px;
  height: 40px;
  outline: none;
  background: #f2f2f2;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

#email-foot::placeholder {
  width: 52px;
  height: 22px;
  left: 118px;
  top: 5251px;
  padding-left: 2%;

  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: #c5c5c5;
  color: #b1b1b1;
}
#email-text {
  /* font-size: 0.8rem; */
  /* position: absolute; */
  /* width: 207px;
  height: 80px;
  left: 124px;
  top: 5294px; */

  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #232323;
}
.footer_email_text {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #232323;
  margin-left: 25px;
  margin-top: -24px;
  margin-bottom: 7px;
  padding-right: 60px;
}

#email-foot-btn {
  padding: 12px 20px;
  width: 155px;
  height: 42px;
  margin-top: 5%;
  /* line-height: 1.2;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: inline-block;

  font-size: 14px;
  font-weight: 550; */
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;
  cursor: pointer;

  text-align: center;
  border: none;

  /* background: #a16bb8; */
  /* background-color: #6da0bb !important; */
  background: linear-gradient(95.12deg, #eed979 0%, #4f8cad 50.42%);
  background-size: 200% 100% !important;
  border: medium none;
  color: #ffffff !important;
  transition: all 0.2s ease-in-out 0s !important;
}

#email-foot-btn:hover {
  background-position: 100% 0;
  background: linear-gradient(95.12deg, #4f8cad 0%, #eed979 50.42%);
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.fa-arrow-circle-up {
  margin-left: 30%;
  margin-top: -40%;
  font-size: 36px;
  /* background: #F2F2F2; */
  /* box-shadow: -2px -3px 5px 1px rgba(255, 255, 255, 0.7), 2px 2px 4px rgba(15, 17, 31, 0.2); */
}
.fa-arrow-circle-up:hover {
  transform: scale(1.3);
}

.footer-topup {
  /* position: relative; */
  border-radius: 50%;
  padding: 4%;
  background: #f2f2f2;
  box-shadow: -2px -3px 5px 1px rgba(255, 255, 255, 0.7),
    2px 2px 4px rgba(15, 17, 31, 0.2);
  border: none;
  margin-left: 90%;
  margin-top: -8000%;
  animation: slide1 2s ease-in-out infinite;
}
.footer-topup:hover,
.footer-topup:focus {
  outline: none;
}
/* .gg-shape-rhombus {
  box-sizing: border-box;
  position: relative;
  margin-left: -50px;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
  margin-left: -57%;
  margin-top: 5%;
  border: 2px solid #dbdbdb;
} */
.footer-top-arrow:active {
  border: none;
}
.fa-arrow-up {
  position: relative;
  margin-top: -38%;
  margin-left: -85%;
}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}
.fa-arrow-up:active {
  border: none;
}

.footer-terms {
  width: 55%;
  margin-left: 2%;
  /* background: #f2f2f2; */
  /* box-shadow: 0px 0px 15px rgba(17, 25, 33, 0.05); */
}
.footer-terms1 {
  color: #33657e;
  margin-left: 1%;
}
.footer-terms2 {
  color: #33657e;
  margin-left: 1%;
  margin-top: -17%;
}
.footer-terms3 {
  color: #33657e;
  margin-left: 1%;
}
.footer-terms1-btn {
  background-color: #f2f2f2;
  border: none;
  height: 30px;
  width: 140px;
  margin-left: 10%;
  /* padding-right: 10%; */
}
.footer-terms2-btn {
  background-color: #f2f2f2;
  border: none;
  height: 30px;
  width: 200px;
  margin-left: -10%;
  /* padding-right: 10%; */
}
.footer-terms3-btn {
  background-color: #f2f2f2;
  border: none;
  height: 30px;
  width: 140px;
  margin-left: 10%;
  /* padding-right: 10%; */
}
/* .footer-terms1-btn:hover {
  font-size: 17px;
  background-color: whitesmoke;
}
.footer-terms2-btn:hover {
  font-size: 22px;
  background-color: whitesmoke;
}
.footer-terms3-btn:hover {
  font-size: 17px;
  background-color: whitesmoke;
} */
/* .footer-terms1:hover {
  background-color: #0c112a;
} */
.footer-terms1:hover {
  font-size: 17px;
  background-color: whitesmoke;
  /* text-decoration: none; */
  color: #33657e;
}
.footer-terms2:hover {
  font-size: 17px;
  background-color: whitesmoke;
  /* text-decoration: none; */
  color: #33657e;
}
.footer-terms2-btn:hover {
  font-size: 22px;
  background-color: whitesmoke;
}
.footer-terms3:hover {
  font-size: 17px;
  background-color: whitesmoke;
  /* text-decoration: none; */
  color: #33657e;
}
/* .footer-terms1 {
  margin-right: 50%;
}
.footer-terms2 {
  padding-right: 5%;
}
.footer-terms3 {
  margin-left: 50%;
} */
.footer_hr {
  width: 100%;
  border-top: 1px solid #f2f2f2;
  border-top-width: 100%;
  background: #f2f2f2f2;
  box-shadow: 0px 0px 15px rgba(17, 25, 33, 0.05);
}

.copyright {
  color: #33657e;
}

/*============================= MOBILE VIEW ========================= */
@media screen and (max-width: 920px) {
  .container-fluid-footer {
    background-color: #f6f9fc;
    max-width: 74.5%;
    color: #0c112a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 5% 0% 60%;
    margin-left: -38.5%;
  }
  .logo-footer {
    margin: 3% 0% 24% 15%;
    padding-bottom: 15px;
  }
  .menu-item,
  .menu-open-button {
    margin-left: -13px;
    margin-top: 5px;
    /* padding-top: 15px; */
  }
  .heading-foot {
    width: 200px;
  }
  .footer-topup {
    margin-left: 116%;
    margin-top: -6%;
  }
  .footer_long_text {
    /* margin-right: 5px; */
    /* background-size: ; */
    /* width: 2px; */
  }
  #email-foot {
    margin-left: 38px;
    margin-top: 2rem;
  }
  .footer_email_text {
    width: 246px;
    margin-left: 68px;
    margin-top: -24px;
    margin-bottom: 7px;
  }
  #email-text {
    margin-left: 46px;
  }
  #email-foot-btn {
    margin-left: 69px;
  }
  .copyright {
    width: 234px;
    margin-left: 40px;
  }
  .footer-terms1 {
    margin-top: -5%;
    margin-left: -14%;
  }
  .footer-terms2 {
    width: 158px;
    margin-left: -222%;
    margin-top: 1%;
  }

  .footer-terms3-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: 81%;
    margin-top: -15px;
    /* padding-right: 10%; */
  }
  .footer-terms2-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 200px;
    margin-left: 452%;
    /* margin-top: -15px; */
    /* padding-right: 10%; */
  }
  .footer-terms1-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: -149%;
    /* padding-right: 10%; */
  }
  /* .footer_email_text {
    padding-right: 1100px;
  } */
}

@media screen and (max-width: 800px) {
  .container-fluid-footer {
    background-color: #f6f9fc;
    max-width: 74.5%;
    color: #0c112a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 5% 0% 60%;
    margin-left: -38.5%;
  }
  .logo-footer {
    margin: 3% 0% 24% 15%;
    padding-bottom: 15px;
  }
  .menu-item,
  .menu-open-button {
    margin-left: -13px;
    margin-top: 5px;
    /* padding-top: 15px; */
  }
  .heading-foot {
    width: 200px;
  }
  .footer-topup {
    margin-left: 116%;
    margin-top: -6%;
  }
  .footer_long_text {
    /* margin-right: 5px; */
    /* background-size: ; */
    /* width: 2px; */
  }
  #email-foot {
    margin-left: 38px;
    margin-top: 2rem;
  }
  .footer_email_text {
    width: 246px;
    margin-left: 68px;
    margin-top: -24px;
    margin-bottom: 7px;
  }
  #email-text {
    margin-left: 46px;
  }
  #email-foot-btn {
    margin-left: 69px;
  }
  .copyright {
    width: 234px;
    margin-left: 40px;
  }
  .footer-terms1 {
    margin-top: -5%;
    margin-left: -14%;
  }
  .footer-terms2 {
    width: 158px;
    margin-left: -222%;
    margin-top: 1%;
  }

  .footer-terms3-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: 81%;
    margin-top: -15px;
    /* padding-right: 10%; */
  }
  .footer-terms2-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 200px;
    margin-left: 452%;
    /* margin-top: -15px; */
    /* padding-right: 10%; */
  }
  .footer-terms1-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: -149%;
    /* padding-right: 10%; */
  }
  /* .footer_email_text {
    padding-right: 1100px;
  } */
}

@media screen and (max-width: 500px) {
  .container-fluid-footer {
    background-color: #f6f9fc;
    max-width: 76.7%;
    color: #0c112a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 5% 0% 60%;
    margin-left: -38.5%;
  }
  .logo-footer {
    margin: 3% 0% 24% 25%;
    padding-bottom: 15px;
  }
  .menu-item,
  .menu-open-button {
    margin-left: 6px;
    margin-top: 5px;
    /* padding-top: 15px; */
  }
  .heading-foot {
    width: 200px;
  }
  .footer-topup {
    margin-left: 116%;
    margin-top: -6%;
  }

  #email-foot {
    margin-left: 66px;
    margin-top: 2rem;
    width: 90%;
  }
  .footer_email_text {
    width: 246px;
    margin-left: 98px;
    margin-top: -24px;
    margin-bottom: 7px;
  }
  #email-text {
    margin-left: 74px;
  }
  #email-foot-btn {
    margin-left: 102px;
  }
  .copyright {
    width: 234px;
    margin-left: 40px;
  }
  .footer-terms1 {
    margin-top: -5%;
    margin-left: -14%;
  }
  .footer-terms2 {
    width: 158px;
    margin-left: -222%;
    margin-top: 1%;
  }

  .footer-terms3-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: 81%;
    margin-top: -15px;
    /* padding-right: 10%; */
  }
  .footer-terms2-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 200px;
    margin-left: 452%;
    /* margin-top: -15px; */
    /* padding-right: 10%; */
  }
  .footer-terms1-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: -149%;
    /* padding-right: 10%; */
  }
  /* .footer_email_text {
    padding-right: 1100px;
  } */
}

@media screen and (max-width: 370px) {
  .container-fluid-footer {
    background-color: #f6f9fc;
    max-width: 74.5%;
    color: #0c112a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1% 5% 0% 60%;
    margin-left: -38.5%;
  }
  .logo-footer {
    margin: 3% 0% 24% 15%;
    padding-bottom: 15px;
  }
  .menu-item,
  .menu-open-button {
    margin-left: -13px;
    margin-top: 5px;
    /* padding-top: 15px; */
  }
  .heading-foot {
    width: 200px;
  }
  .footer-topup {
    margin-left: 116%;
    margin-top: -6%;
  }
  .footer_long_text {
    /* margin-right: 5px; */
    /* background-size: ; */
    /* width: 2px; */
  }
  #email-foot {
    margin-left: 38px;
    margin-top: 2rem;
  }
  .footer_email_text {
    width: 246px;
    margin-left: 68px;
    margin-top: -24px;
    margin-bottom: 7px;
  }
  #email-text {
    margin-left: 46px;
  }
  #email-foot-btn {
    margin-left: 69px;
  }
  .copyright {
    width: 234px;
    margin-left: 40px;
  }
  .footer-terms1 {
    margin-top: -5%;
    margin-left: -14%;
  }
  .footer-terms2 {
    width: 158px;
    margin-left: -222%;
    margin-top: 1%;
  }

  .footer-terms3-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: 81%;
    margin-top: -15px;
    /* padding-right: 10%; */
  }
  .footer-terms2-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 200px;
    margin-left: 452%;
    /* margin-top: -15px; */
    /* padding-right: 10%; */
  }
  .footer-terms1-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: -149%;
    /* padding-right: 10%; */
  }
  /* .footer_email_text {
    padding-right: 1100px;
  } */
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  .container-fluid-footer {
    background-color: #f6f9fc;
    max-width: 91.5%;
    /* padding: 1% 5% 0% 60%; */
    padding-bottom: 15.5%;
    /* padding-top: 5%; */
    margin-left: -38.5%;
    margin-top: 0%;
  }

  .logo-footer {
    width: 53%;
    /* margin-top: 5%; */
    margin-left: 31%;
  }
  .menu-item,
  .menu-open-button {
    margin-left: 36px;
    margin-top: -63px;
  }
  .heading-foot {
    width: 200px;
  }
  .footer_aboutus {
    padding-top: 7%;
  }
  .footer-topup {
    padding: 2%;
    margin-left: 100%;
    margin-top: -6%;
  }
  #email-foot {
    margin-left: -1px;
    margin-top: -1rem;
  }
  .footer_email_text {
    width: 638px;
    margin-left: 32px;
    margin-top: -24px;
    margin-bottom: 7px;
  }
  #email-text {
    margin-left: 2px;
  }
  #email-foot-btn {
    margin-left: -1px;
  }
  .copyright {
    width: 234px;
    margin-left: 220px;
  }
  .footer-terms1 {
    margin-top: 23.5%;
    margin-left: -26%;
  }
  .footer-terms2 {
    width: 158px;
    margin-left: -18%;
    margin-top: 1%;
  }
  .footer-terms3 {
    margin-left: 48%;
    margin-top: 35%;
  }

  .footer-terms3-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: 81%;
    margin-top: -15px;
    /* padding-right: 10%; */
  }
  .footer-terms2-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 200px;
    margin-left: 452%;
    /* margin-top: -15px; */
    /* padding-right: 10%; */
  }
  .footer-terms1-btn {
    background-color: #f6f9fc;
    border: none;
    height: 30px;
    width: 140px;
    margin-left: -149%;
    /* padding-right: 10%; */
  }
  /* .footer_email_text {
    padding-right: 1100px;
  } */
  /* .footer_hr {
    margin-top: 1%;
    margin-bottom: -45px;
    margin-left: 181px;
    width: 17%;
  } */
}

.footer_aboutus {
  margin-top: -12.5%;
}
