@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}