.process-area {
  margin-top: 70px;
  padding-bottom: 80px;
}
.ml9-process {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #3c708e;
  margin-left: -1.5%;
}

.ml9-process .text-wrapper-process {
  position: relative;
  display: inline-block;

  overflow: hidden;
}

.ml9-process .letter-process {
  transform-origin: 50% 100%;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #3c708e;
  margin-left: -1.5%;
  letter-spacing: 3.5px;
}
/* .ml2-process {
  width: 631px;
  padding-right: 30px;
}

.ml2-process .letter-process {
  display: inline-block;
} */
.process-h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #3c708e;
  margin-left: -1.5%;
}

.process-p {
  width: 912px;
  height: 52px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  margin-left: 11.9%;
  text-align: center;
  color: #757575;
  margin-bottom: -3%;
}

.content-front:nth-child(2):after {
  content: "";
}

.bg-header {
  background-color: rgb(16 255 0 / 20%);
  padding: 12px 20px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}
/* a:hover{
    text-decoration:none;
    color:#05C2DE;
    text-shadow: 2px 1px 1px white;
    transition:1s;
  } */

.content-inner {
  width: 100%;
  color: #000;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.fl-wrap {
  float: left;
  width: 351px;
  height: 252px;
  position: relative;
}

.content-inner .content-front,
.content-inner .content-back {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-front {
  background: #fff;
  position: relative;
}

.content-inner > * {
  backface-visibility: hidden;
  transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* .cf-inner:before,
  .cf-inner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
  } */

.cf-inner:before {
  top: 20px;
  left: 20px;
  border-left: 1px solid;
  border-top: 1px solid;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 351px;
  height: 252px;
  z-index: 1;
  /* margin-left: -21%; */
  /* background-size: 2px 2px; */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 351px;
    height: 252px;
    background: #000;
    opacity: 0.4;
    z-index: 3;
  } */

.content-inner .cf-inner .inner {
  align-items: stretch;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transform: translateZ(95px) scale(0.81);
  text-align: center;
  position: relative;
  z-index: 2;
}

/* .cf-inner:after {
    bottom: 20px;
    right: 20px;
    border-right: 1px solid;
    border-bottom: 1px solid;
  } */

.content-inner .cf-inner .inner h2 {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */
  text-align: center;
  text-transform: uppercase;
  color: #3c708e;
  padding-bottom: 320px;
}

.content-inner .cf-inner .inner1 h2 {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */
  text-align: center;
  text-transform: uppercase;
  color: #3c708e;
  padding-bottom: 20px;
  margin-top: -20%;
  margin-left: 1%;
}

.content-inner .cf-inner .inner1 p {
  width: 275px;
  height: 72px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  margin-left: 6%;
  text-align: center;

  color: #3c708e;
}

.content-inner .cf-inner .inner h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 20px;
  height: 2px;
  margin-left: -10px;
}

.content-inner .content-front li {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 0 4px;
}
.cf-inner:after {
  bottom: 20px;
  right: 20px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.content-inner .content-front,
.content-inner .content-back {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-inner .cf-inner .inner {
  align-items: stretch;
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transform: translateZ(95px) scale(0.81);
  text-align: center;
  position: relative;
  z-index: 2;
}

.content-inner:hover .content-front {
  transform: rotateY(-180deg);
}

.content-inner:hover .content-back {
  transform: rotateY(0deg);
}

.content-inner .content-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 351px;
  height: 252px;
  z-index: 0;
  transform: rotateY(180deg);
  /* background: #292929; */
  background-image: url("../img/process/card-back.png");
  background-repeat: no-repeat;
  background-size: 351px 252px;
}

.content-inner .cf-inner {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 351px;
  height: 252px;
  padding: 126px 20px;
}

.serv-price-wrap {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 30px;
  margin-top: 14px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*   
  inner:before,
  .cf-inner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
  } */

/* .cf-inner:before,
  .cf-inner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 250px;
    border-color: rgba(0, 188, 212, 0.33);
    z-index: 10;
  } */

.dec-icon {
  padding-bottom: 40px;
}

.content-back .cf-inner:before {
  top: 125px;
}

.content-back .cf-inner:after {
  bottom: 125px;
}

/* custom-cursor */
/* =============================================================================================== */
.custom-cursor {
  width: 3rem;
  height: 3rem;
  border: 1px solid hsla(0, 0%, 100%, 0.7);
  border-radius: 100%;

  background: hsla(0, 0%, 80%, 0.2);
  position: absolute;
  z-index: 5;
  transform: translate(-50%, -50%);

  pointer-events: none;
}

/* buttons */
/* =============================================================================================== */
/* btn-circle */
/* ---------------------------------------- */
.btn-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* btn-pTSecond */
/* ---------------------------------------- */
.btn-pTSecond {
  margin-top: 2rem;
  border: 1px solid red;

  transform: scale(0.8);
  transform-origin: left center;
  transition: 0.3s;
}

.btn-pTSecond:hover,
.btn-pTSecond:focus {
  transform: scale(1);
}

.btn-pTSecond::before {
  content: "";

  width: 100%;
  height: 100%;
  border-radius: inherit;

  position: absolute;
  background: var(--gradient-2);

  transform: scale(0);
  transition: 0.6s;
}
